server:
  port: 8083


spring:
  application:
    name: pms-crosscutting-service
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://db-instance-pms.cvk4yqey0ex7.us-east-2.rds.amazonaws.com:5432/pms_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:PMS.2025}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      max-poll-records: 500
      fetch-min-size: 1024
    listener:
      ack-mode: batch

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    com.pms.crosscutting: DEBUG
    org.springframework.kafka: DEBUG
    org.apache.kafka: DEBUG
    org.apache.kafka.clients.consumer: DEBUG